@charset "UTF-8";

html{
	min-height:100%;
}

body{
	
	background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	text-align: center;
}

textarea{
	margin-bottom:10px;
}

input{
	margin-bottom:20px;
}

input[type=number]{
	width:200px;
}

input[type=submit]{
	width:250px;
}
